@model IsoMetrix_Assessment.Models.AddressLookupViewModel

<div class="row">
    <div class="col-md-12">
        <h2>Status: @Model.Status</h2>
    </div>
</div> 

@if (Model.LocationData != null && Model.LocationData.Any())
{
    <div class="row">
        <div class="col-md-12">
            <h2>Format: @Model.Format</h2>
            <p>@Model.RawOutput</p>
        </div>
    </div>    
    <div class="row">
        <div class="col-md-12">
            <h2>Grid View</h2>       
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Country</th>
                    <th>Premise</th>
                    <th>Route</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var location in Model.LocationData)
                {
                    <tr>
                        <td>@location.Country</td>
                        <td>@location.Premise</td>
                        <td>@location.Route</td>
                        <td>@location.Latitude</td>
                        <td>@location.Longitude</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}

